.git/
__pycache__/
*.pyc
.ipynb_checkpoints/

binder_outputs/
local_outputs/
presentation_outputs/
presentation_src/

*.joblib
*_actual.png
*_predicted.png
*_correlation_matrix.png
*_pair_plot.png
*_scatter_plots.png
*_predicted_versus_actual.png
*_residual_histogram.png
*_residual_versus_predicted.png
